---
layout: default
---

<style type="text/css" media="screen">
  .container {
    text-align: center;
  }
</style>

<div class="container">
  <h1>404 página no encontrada :(</h1>
  <p>la página no pudo ser encontrada.</p>
</div>
