.post-list
  list-style: none
  li h2
    text-align: left
    &::before
      //content: "\2765"
      content: "\2192"
      display: inline-block
  padding: 0
  .date::after
    display: inline-block
    content: "|"
    color: $foreground
    width: 2em
    text-align: center
  .post-link
    font-size: 2em
    font-weight: bold
    line-height: 1
    margin: .5em .2em
    display: block
    color: white
    &:hover
      text-decoration: none
      .post-title
        text-decoration: underline
    .post-date
      padding-left: .5em
      font-size: .5em
      color: #aaa
