//:root {
//	//--background: #EEE;
//	//--foreground: #444;
//	--background: black;
//	--foreground: #EEE;
//}

// https://www.schemecolor.com/escalated-rights.php
// $background: #443B64
// $foreground: #B3FFC5
// $accent: #63FFAD
$background: black
$foreground: #ddd
$accent: #4c9aec
html, body
  min-height: 100vh

body
  margin: 0
  max-width: 650px
  margin: 0 auto
  line-height: 1.6
  font-size: 18px
  color: $foreground
  background: $background
  padding: 0 10px
  font-family: sans-serif
  display: flex
  flex-direction: column

main
  flex-grow: 1

h1, h2, h3, h4, h5, h6
  line-height: 1.2
  text-align: center
  a
    color: $foreground
    &:hover
      text-decoration: underline

.text-center
  text-align: center

a
  color: $accent
  text-decoration: none
  &:hover
    text-decoration: underline

img
  width: 100%

//.post-title
//  &::before
//    padding-right: 1em

.end
  padding: 1vh 10vw
  font-variant: petite-caps
  text-align: right

footer
  text-align: center
  padding: 10px


ol
  @media only screen and (max-width: 600px)
    padding-left: 1em

th
  padding: 0 20px

pre
  padding: .5em
  white-space: break-spaces
  word-wrap: break-word
.highlight
  border-radius: 8px
code.highlighter-rouge // código inline
  background: #282828
  color: #ebdbb2

mark
  background-color: #d05ef9
  padding: 0 .2em

p
  margin-top: .5em
  margin-bottom: .5em

.tags
  list-style: none
  padding: 0
  li
    display: inline-block
    margin: 0 .2em
    margin-bottom: .4em
    padding: .5em .8em
    background: #282828
    border-radius: 1em
    line-height: 1
    &::before
      content: '#'
      color: #777
