<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <base href="{% base %}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
    {%- seo -%}
    {%- feed_meta -%}
  </head>
  <body>
    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>
    <div class="end">
      ~void &lt;3<br>
      <a href=".">pedacito de internet</a>
    </div>
    <footer>
      <div class="wrapper">
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>
    </footer>
  </body>
</html>
