---
layout: default
---

<div class="home">
  {{ content }} {%- if site.posts.size > 0 -%}
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      <a class="post-link" href="{{ post.url }}">
        <span class="post-title">{{- post.title | escape -}}</span>
        <span class="post-date">({{- post.date | date: "%d/%m/%y" -}})</span>
      </a>
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>
