---
layout: default
---
<article class="minipost h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <p class="post-meta">
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ page.date | date: date_format }}
    </time>
    <span>(minipost)</span>
  </p>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url }}" hidden></a>
</article>
